
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* HEADER */
header {
    text-align: center;
    padding: 2rem 2.5rem;
}

header h1{
    font-family: 'Dancing Script', cursive;
    font-size: 5rem;
}

header p {
    font-size: 1.5rem;
    margin-top: 0.8rem;
}

/* MAIN */

.movie-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 7rem;
    height: 100%;
}

.movie-container .movie-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
    
}

.movie-container .movie-content img {
    width: 450px;
    min-height: 675px;
    border-radius: 10px;
    margin-right: 2rem;
}


.movie-container .movie-text{
    text-align: justify;
    line-height: 2rem;
    margin-left: 2rem;
    max-width: 600px;
    font-size: 1.5rem;
    
}

.movie-container .movie-text h2{
    margin-bottom: 3rem;
    letter-spacing: 2px;
    text-align: center;
}

.movie-container .movie-text .movie-btn{
    margin-top: 2rem;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: transparent;
    border: 3px solid rgb(212, 30, 203);
    color: #ffff;
    cursor: pointer;
    letter-spacing: 2px;
    
}

.movie-container .movie-text .movie-btn:hover{
    background-color: rgb(212, 30, 203);
    border-color: rgb(64, 64, 225);
}

.movie-container .movie-text .movie-btn:focus{
    outline: none;
}
/* FOOTER */

footer{
    text-align: center;
    padding: 1rem;
    border-top: 1px solid rgb(212, 30, 203);
   
}